cloudpickle==3.0.0
doit==0.36.0
importlib-metadata==6.8.0
jupyter_core==5.5.0
jupyterlite-core==0.2.1
jupyterlite-pyodide-kernel==0.2.0
pkginfo==1.9.6
platformdirs==4.0.0
traitlets==5.14.0
zipp==3.17.0
